*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Arial;
background:#111;
color:white;
text-align:center;

}

header{

margin-top:150px;

}

h1{

font-size:50px;

}

p{

margin:20px;
font-size:22px;

}

button{

padding:15px 40px;
font-size:18px;
background:#00b894;
color:white;
border:none;
border-radius:10px;
cursor:pointer;

}

button:hover{

background:#019875;

}
